node_modules/
build/
.env
.env.local
.env.development
.env.test
.env.production
.DS_Store
npm-debug.log
coverage/
.vscode/
dist/
*.log
.npm
.eslintcache
.idea/
*.sublime-project
*.sublime-workspace
.history/
tmp/
temp/ 